.container {
  text-align: center;
}

.titolo {
  padding-bottom: 60px;
  margin-top: 60px;
}

h2 {
  font-size: 30px;
}

img {
  width: 200px;
  height: 200px;
}

h4 {
  margin: 20px;
}

.palla-blu {
  display: inline-block;
  padding: 30px;
  background-color: blue;
  border-radius: 100%;
}

hr {
  margin-bottom: 50px;
}
